In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_wikipedia_table(url):
    response = requests.get(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table on the Wikipedia page
        table = soup.find('table', {'class': 'wikitable'})

        if table:
            # Extract data from the table
            data = []
            for row in table.find_all('tr')[1:]:
                columns = row.find_all(['th', 'td'])
                row_data = [column.text.strip() for column in columns]
                data.append(row_data)

            # Create a DataFrame from the scraped data
            df = pd.DataFrame(data, columns=data[0])

            # Display the DataFrame
            print(df)

        else:
            print("Table with class 'wikitable' not found on the page.")

    else:
        print('Failed to retrieve the page. Status code:', response.status_code)

# Example usage:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_Kingdom'
scrape_wikipedia_table(url)

     1   15                 Shell plc        Oil and Gas  272,657  20,101  \
0    1   15                 Shell plc        Oil and Gas  272,657  20,101
1    2   35                        BP        Oil and Gas  164,195   7,565
2    3  126                     Tesco             Retail   84,192   2,031
3    4  149                      HSBC            Banking   77,330  13,917
4    5  198                     Aviva          Insurance   64,240   2,703
5    6  201                 Rio Tinto             Mining   63,495  21,094
6    7  203           Legal & General          Insurance   62,504   2,819
7    8  205                  Unilever     Consumer goods   62,006   7,151
8    9  222      Lloyds Banking Group            Banking   58,476   7,954
9   10  247                  Vodafone  Telecommunication   52,931   2,424
10  11  294           GlaxoSmithKline    Pharmaceuticals   46,914   6,030
11  12  331            Anglo American             Mining   41,554   8,562
12  13  342               Sainsbury's             Retail   40,831     924
13  14  374                  Barclays            Banking   37,561   9,872
14  15  381               AstraZeneca    Pharmaceuticals   37,417     112
15  16  403  British American Tobacco     Consumer goods   35,321   9,353
16  17  426             Phoenix Group          Insurance   33,749  âˆ’1,151
17  18  463                     Linde          Chemicals   30,798   3,826

      404,379   82,000              London
0     404,379   82,000              London
1     287,272   65,000              London
2      66,219  231,223  Welwyn Garden City
3   2,957,939  219,697              London
4     485,481   22,062              London
5     102,896   49,345              London
6     789,066   10,743              London
7      85,383  148,044              London
8   1,200,620   57,955              London
9     170,749   96,941             Newbury
10    107,129   90,096              London
11     65,985   62,000              London
12     35,389  117,000              London
13  1,874,737   81,600              London
14    105,363   83,100           Cambridge
15    186,033   54,365              London
16    452,064    8,045              London
17     81,605   72,327           Guildford

# Getting all the information about TOP 50 UK Companies Revenue wise

In [2]:
import requests
from bs4 import BeautifulSoup
from difflib import get_close_matches

def scrape_wikipedia_table(url):
    response = requests.get(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table on the Wikipedia page
        table = soup.find('table', {'class': 'wikitable'})

        if table:
            # Extract data from the table
            rows = table.find_all('tr')

            # Display column headers
            header_row = rows[0].find_all('th')
            headers = [header.text.strip() for header in header_row]

            print("Available headers:", headers)

            # Define the subset of desired columns
            desired_columns = ["Rank", "Name", "Industry", "Revenue(USD millions)"]

            # Identify the indices of columns based on similarity scores
            column_indices = []
            for col in desired_columns:
                close_matches = get_close_matches(col, headers, n=1, cutoff=0.8)
                if close_matches:
                    column_indices.append(headers.index(close_matches[0]))
                else:
                    print(f"No close match found for column: {col}")
                    print(f"Close matches: {get_close_matches(col, headers)}")

            if len(column_indices) == len(desired_columns):
                print("{:<10} {:<50} {:<40} {:<20}".format(*desired_columns))

                for row in rows[1:]:  # Skip header row
                    columns = row.find_all(['th', 'td'])

                    # Extracting specific columns based on indices
                    try:
                        data = [columns[index].text.strip() for index in column_indices]

                        # Display the row in a tabular form
                        print("{:<10} {:<50} {:<40} {:<20}".format(*data))
                    except ValueError as e:
                        print(f"Error extracting data from row: {e}")
            else:
                print("Not all desired columns are present in the table.")

        else:
            print("Table with class 'wikitable' not found on the page.")

    else:
        print('Failed to retrieve the page. Status code:', response.status_code)

# Example usage:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_Kingdom'
scrape_wikipedia_table(url)

Available headers: ['Rank', 'Fortune 500rank', 'Name', 'Industry', 'Revenue(USD millions)', 'Profits(USD millions)', 'Assets(USD millions)', 'Employees', 'Headquarters']
Rank       Name                                               Industry                                 Revenue(USD millions)
1          Shell plc                                          Oil and Gas                              272,657
2          BP                                                 Oil and Gas                              164,195
3          Tesco                                              Retail                                   84,192
4          HSBC                                               Banking                                  77,330
5          Aviva                                              Insurance                                64,240
6          Rio Tinto                                          Mining                                   63,495
7          Legal & General                                    Insurance                                62,504
8          Unilever                                           Consumer goods                           62,006
9          Lloyds Banking Group                               Banking                                  58,476
10         Vodafone                                           Telecommunication                        52,931
11         GlaxoSmithKline                                    Pharmaceuticals                          46,914
12         Anglo American                                     Mining                                   41,554
13         Sainsbury's                                        Retail                                   40,831
14         Barclays                                           Banking                                  37,561
15         AstraZeneca                                        Pharmaceuticals                          37,417
16         British American Tobacco                           Consumer goods                           35,321
17         Phoenix Group                                      Insurance                                33,749
18         Linde                                              Chemicals                                30,798

In [3]:
import requests
from bs4 import BeautifulSoup
from difflib import get_close_matches

def scrape_wikipedia_table(url):
    response = requests.get(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table on the Wikipedia page
        table = soup.find('table', {'class': 'wikitable'})

        if table:
            # Extract data from the table
            rows = table.find_all('tr')

            # Display column headers
            header_row = rows[0].find_all('th')
            headers = [header.text.strip() for header in header_row]

            print("Available headers:", headers)

            # Define the subset of desired columns
            desired_columns = ["Rank", "Name", "Industry", "Revenue(USD millions)", "Profits(USD millions)", "Assets(USD millions)", "Headquarters"]

            # Identify the indices of columns based on similarity scores
            column_indices = []
            for col in desired_columns:
                close_matches = get_close_matches(col, headers, n=1, cutoff=0.8)
                if close_matches:
                    column_indices.append(headers.index(close_matches[0]))
                else:
                    print(f"No close match found for column: {col}")
                    print(f"Close matches: {get_close_matches(col, headers)}")

            if len(column_indices) == len(desired_columns):
                print("{:<10} {:<50} {:<40} {:<20} {:<20} {:<20} {:<20}".format(*desired_columns))

                for row in rows[1:]:  # Skip header row
                    columns = row.find_all(['th', 'td'])

                    # Extracting specific columns based on indices
                    try:
                        data = [columns[index].text.strip() for index in column_indices]

                        # Display the row in a tabular form
                        print("{:<10} {:<50} {:<40} {:<20} {:<20} {:<20} {:<20}".format(*data))
                    except ValueError as e:
                        print(f"Error extracting data from row: {e}")
            else:
                print("Not all desired columns are present in the table.")

        else:
            print("Table with class 'wikitable' not found on the page.")

    else:
        print('Failed to retrieve the page. Status code:', response.status_code)

# Example usage:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_Kingdom'
scrape_wikipedia_table(url)

Available headers: ['Rank', 'Fortune 500rank', 'Name', 'Industry', 'Revenue(USD millions)', 'Profits(USD millions)', 'Assets(USD millions)', 'Employees', 'Headquarters']
Rank       Name                                               Industry                                 Revenue(USD millions) Profits(USD millions) Assets(USD millions) Headquarters
1          Shell plc                                          Oil and Gas                              272,657              20,101               404,379              London
2          BP                                                 Oil and Gas                              164,195              7,565                287,272              London
3          Tesco                                              Retail                                   84,192               2,031                66,219               Welwyn Garden City
4          HSBC                                               Banking                                  77,330               13,917               2,957,939            London
5          Aviva                                              Insurance                                64,240               2,703                485,481              London
6          Rio Tinto                                          Mining                                   63,495               21,094               102,896              London
7          Legal & General                                    Insurance                                62,504               2,819                789,066              London
8          Unilever                                           Consumer goods                           62,006               7,151                85,383               London
9          Lloyds Banking Group                               Banking                                  58,476               7,954                1,200,620            London
10         Vodafone                                           Telecommunication                        52,931               2,424                170,749              Newbury
11         GlaxoSmithKline                                    Pharmaceuticals                          46,914               6,030                107,129              London
12         Anglo American                                     Mining                                   41,554               8,562                65,985               London
13         Sainsbury's                                        Retail                                   40,831               924                  35,389               London
14         Barclays                                           Banking                                  37,561               9,872                1,874,737            London
15         AstraZeneca                                        Pharmaceuticals                          37,417               112                  105,363              Cambridge
16         British American Tobacco                           Consumer goods                           35,321               9,353                186,033              London
17         Phoenix Group                                      Insurance                                33,749               âˆ’1,151               452,064              London
18         Linde                                              Chemicals                                30,798               3,826                81,605               Guildford

## Storing the Required data in the form of Excel file for data base

In [4]:
import requests
from bs4 import BeautifulSoup
from difflib import get_close_matches
import pandas as pd

def scrape_wikipedia_table(url):
    response = requests.get(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table on the Wikipedia page
        table = soup.find('table', {'class': 'wikitable'})

        if table:
            # Extract data from the table
            rows = table.find_all('tr')

            # Display column headers
            header_row = rows[0].find_all('th')
            headers = [header.text.strip() for header in header_row]

            print("Available headers:", headers)

            # Define the subset of desired columns
            desired_columns = ["Rank", "Name", "Industry", "Revenue(USD millions)", "Profits(USD millions)", "Assets(USD millions)", "Headquarters"]

            # Identify the indices of columns based on similarity scores
            column_indices = []
            for col in desired_columns:
                close_matches = get_close_matches(col, headers, n=1, cutoff=0.8)
                if close_matches:
                    column_indices.append(headers.index(close_matches[0]))
                else:
                    print(f"No close match found for column: {col}")
                    print(f"Close matches: {get_close_matches(col, headers)}")

            if len(column_indices) == len(desired_columns):
                # Create a DataFrame to store the data
                data = []
                for row in rows[1:]:  # Skip header row
                    columns = row.find_all(['th', 'td'])
                    try:
                        row_data = [columns[index].text.strip() for index in column_indices]
                        data.append(row_data)
                    except ValueError as e:
                        print(f"Error extracting data from row: {e}")

                df = pd.DataFrame(data, columns=desired_columns)

                # Export DataFrame to Excel
                excel_filename = "TOP_UK_Companies.xlsx"
                df.to_excel(excel_filename, index=False)
                print(f"Data exported to {excel_filename}")
            else:
                print("Not all desired columns are present in the table.")

        else:
            print("Table with class 'wikitable' not found on the page.")

    else:
        print('Failed to retrieve the page. Status code:', response.status_code)

# Example usage:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_Kingdom'
scrape_wikipedia_table(url)

Available headers: ['Rank', 'Fortune 500rank', 'Name', 'Industry', 'Revenue(USD millions)', 'Profits(USD millions)', 'Assets(USD millions)', 'Employees', 'Headquarters']
Data exported to TOP_UK_Companies.xlsx

***
***